<!doctype html>
<html lang="pt-BR">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Css Básico -->
  <link rel="stylesheet" href="/css/style.css">

  <title>LottApp | Gerador de Jogos</title>
</head>

<body>

  <div id="title">
    <div id="logo">
      <h2>LottApp - Gerador de Jogos</h2>
    </div>
    <div id="data">
      <p id="data-hora"></p>
    </div>
  </div>



  <div id="content">
    <h3>Escolha um jogo para gerar seus números da sorte</h3>

    <div id="botoes">
      <button class="btn btn-megasena" onclick="megaSena()">Mega-Sena</button>
      <button class="btn btn-lotofacil" onclick="lotoFacil()">Lotofácil</button>
      <button class="btn btn-lotomania" onclick="lotomania()">Lotomania</button>
    </div>
    <br>
    <p>Boa sorte :)</p>
  </div>

  <div id="resultado">
    <div id="return"></div>
  </div>



  <br>

  <div id="aboutGames">
    <h3>Como funcionam os jogos?</h3>
    <br>

    <h4>Mega-Sena :</h4>
    <p>A Mega-Sena paga milhões para o acertador dos 6 números sorteados</p>
    <br>

    <h4>Lotofacil:</h4>
    <p>A lotofácil paga ao acertador dos 15 números o prêmio máximo. </p>
    <br>

    <h4>Lotomania:</h4>
    <p>Acerte 15, 16, 17, 18, 19 ou 20 dos 50 números sorteados e receba prêmios.</p>

  </div>



  <div id="footer">
    <p>Desenvolvido para fins de estudo 2021 | Vinicius Pania</p>
  </div>


  <!-- Atualiza hora -->
  <script>
    const myVar = setInterval(myTimer, 1000);

    function myTimer() {
      var d = new Date();
      var t = d.toLocaleDateString() + ' ' + d.toLocaleTimeString();
      document.getElementById("data-hora").innerHTML = t;
    }

  </script>
  <!-- Script  -->
  <script src="/js/script.js"></script>
</body>

</html>