body {
  min-height: 100vh;
  font-family: Helvetica, sans-serif;
  text-align: center;
  text-transform: capitalize;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#title {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(11, 14, 58);
  color: #fff;
}

#title h2 {
  font-weight: 300;
  font-size: 19px;
  margin-bottom: 3px;
}

#title p {
  text-align: center;
}

#botoes {
  display: flex;
  flex-direction: column;
}

#content p {
  font-weight: bold;
}

#botoes .btn {
  width: 80%;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  padding: 20px 10px;
  color: #fff;
  cursor: pointer;
}

.btn-megasena {
  background-color: green;
}
.btn-lotofacil {
  background-color: purple;
}
.btn-lotomania {
  background-color: orange;
}

#resultado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
}

#aboutGames {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

#aboutGames h4 {
  text-align: left;
  margin-bottom: 5px;
}

#aboutGames p {
  text-align: left;
}

#footer {
  background-color: rgb(11, 14, 58);
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 5px;
}
#footer p {
  font-weight: 300;
  font-size: 13px;
}

@media screen and (min-width: 1024px) {
  body {
    max-width: 980px;
    margin: 0 auto;
  }

  #title {
    flex-direction: row;
    justify-content: space-between;
  }

  #logo {
    float: left;
  }

  #data {
    float: right;
  }

  #footer {
    position: fixed;
    bottom: 0;
    width: 980px;
    margin: 0 auto;
  }

  #content {
    margin-top: 80px;
  }

  #botoes .btn {
    width: 50%;
  }

  #aboutGames h4 {
    text-align: center;
  }

  #aboutGames p {
    text-align: center;
  }
}
